@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');

html, body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.h1000 {
    height: 1000px;
}

.h600 {
    height: 600px;
}

.top-grey-bar {
    background-color: #262626;
    height: 50px;
}

.top-white-bar {
    background-color: white;
    height: 150px;
}

.bottom-grey-bar {
    background-color: #262626;
    height: 350px;
}

.top-ribbon {
    position: absolute;
    background-color: #00838F;
    left: 8%;
    top: 0px;
    height: 220px;
    width: 8%;
    z-index: 1;
}

.top-ribbon > img {
    width: 80%;
    position: absolute;
    bottom: 0px;
    margin: 10%;
}

.bottom-ribbon {
    position: absolute;
    background-color: #00838F;
    left: 8%;
    bottom: 0px;
    height: 370px;
    width: 8%;
    z-index: 1;
}

.bottom-ribbon > img {
    width: 80%;
    margin: 10%;
}

.nav-row {
    margin: 0px !important;
}

.nav-card {
    height: 10vw;
    background-color: white;
}

.carousel-indicators > li {
    width: 15px;
}

@media only screen and (max-width: 600px) {
    .top-ribbon {
        height: 125px;
        width: 20%;
        left: 15%;
    }
    
    .bottom-ribbon {
        height: 145px;
        width: 20%;
        left: 15%;
    }

    .top-grey-bar {
        height: 25px;
    }

    .top-white-bar {
        height: 85px;
    }

    .bottom-grey-bar {
        height: 130px;
    }
}